@mixin reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin mq($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

$breakpoints: (
  mobile: 320px,
  mobile-large: 576px,
  tablet: 768px,
  laptop: 992px,
  desktop: 1280px,
  desktop-large: 1440px,
);
$theme-fonts: (
  inter: var(--inter),
  inter-tight: var(--inter-tight),
);
$max-width: 1440px;
$border-radius: 12px;
$font-mono: ui-monospace, menlo, monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
$base-font-size: 62.5%;
$main-tint-100: #d1bcf9;
$main-tint-200: #9f7aea;
$main-color: #795ef2;
$main-shade-100: #553c9a;
$main-shade-200: #3d2c7a;
$main-shade-300: #2d1f5e;
$default-bg-color: #fff;
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #a0aec0;
$gray-500: #718096;
$gray-600: #4a5568;
$gray-700: #2d3748;
$main-text-color: #000;
$main-text-color-inv: #fff;

@media (prefers-color-scheme: dark) {
  $main-text-color: #fff;
  $main-text-color-inv: #000;
  $default-bg-color: #1c1b21;
  $gray-100: #2d3748;
  $gray-200: #4a5568;
  $gray-300: #718096;
  $gray-400: #a0aec0;
  $gray-500: #e2e8f0;
  $gray-600: #edf2f7;
  $gray-700: #f7fafc;
}

@media (prefers-color-scheme: dark) {
  #root {
    color-scheme: dark;
  }
}
