@import '@/styles/_variables';
@import '@/styles/_functions';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @include reset;
}

html {
  font-family: get-font(inter-tight), sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $main-text-color;
  cursor: default;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
