@import '@/styles/_variables';

.nav {
  display: flex;
}

.menuList {
  background-color: $gray-100;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  height: 100vh;
  list-style: none;
  margin: 0;
  padding: 10rem 2rem 2rem;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  width: 20rem;
  z-index: 1;

  &.open {
    transform: translateX(0);
  }
}

.menuList a {
  color: #000;
  text-decoration: none;
}

.menuList .menuItem {
  border-radius: 1.6rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1.2rem;

  &.active {
    background-color: $main-color;
    font-weight: 700;

    a {
      color: #fff;
    }
  }
}
